

<div class="form-panel">
    <form  (ngSubmit)="addTodo()">
        <mat-form-field>
          <input required matInput placeholder="Subject">
        </mat-form-field>

        <mat-form-field>
          <textarea required matInput placeholder="Comment"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <input type="date" matInput placeholder="Reminder">
        </mat-form-field>


        <div class="dialog-footer">
            <button mat-raised-button type="submit" color="primary">Create</button>
          </div>

      </form>
</div>

