

<div class="form-panel">
        <mat-form-field>
          <input required matInput [(ngModel)]="subject" placeholder="Subject">
        </mat-form-field>

        <mat-form-field>
          <textarea required matInput [(ngModel)]="comment" placeholder="Comment"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <input type="datetime-local" [(ngModel)]="reminder" matInput placeholder="Reminder">
        </mat-form-field>
  

        <div class="dialog-footer">
            <button mat-raised-button (click)="addTodo()" color="primary">Create</button>
          </div>

</div>

