<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome to ToDo App</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Please Enter your details</mat-card-title>
    </mat-card-header> 
    <div class="example-container">
        <mat-form-field>
            <input matInput type="name" [(ngModel)]="name" required placeholder="Name">
          </mat-form-field>
      <mat-form-field>
        <input matInput type="email" [(ngModel)]="email" required placeholder="Email">
      </mat-form-field>
    
      <mat-form-field>
          <input matInput type="password" [(ngModel)]="password" required placeholder="Password">
        </mat-form-field>
    </div>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">Register</button>
      <button mat-raised-button (click)="back()" color="primary">Back</button>

    </mat-card-actions>

</mat-card>